@import 'config';
@import 'utility';

// Base elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier Prime', monospace;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: block;
  width: 100%;
}


// Form styling
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// #results {
//   display: none;
// }