@import 'config';
@import 'utility';

// Base Elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier Prime', monospace;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#results {
  display: none;
}